[submodule "uhttpsharp"]
  path = Vendor/uHttpSharp
  url = http://github.com/CyberSys/uhttpsharp.git


[submodule "Vendor/npsharp"]
	path = Vendor/npsharp
	url = http://github.com/CyberSys/npsharp.git
